h1, h2 { 
    color:  #104c24; 
    border-bottom: 5px groove #00b3e3;
}

strong {
    color:  #e02014;
}

a {
  text-decoration: underline !important;
}

.brand-logo {
	display: none;
}

.navbar-right {
	visibility: hidden;
}

#scprogresscontainer {
	visibility: hidden;
}

.strike {
  text-decoration: line-through;
}

blockquote {
	border-left: none !important;
	margin: none !important;
	font-size: 100% !important;
	padding: 5px 40px !important;
}